/*Utils*/
html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

a {
  text-decoration: none;
  margin: 0;
  padding: 0;
  color: inherit;
}

address {
  font-style: normal;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

/*Base*/
/*Fonts*/
/*Background*/
/*Buttons*/
body {
  font-family: "Poppins", sans-serif;
  background-color: #FFFFFF;
  color: #2A2A2A;
}

/*General Responsive styles*/
.container {
  max-width: 319px;
  padding: 0 10px;
  margin: 0 auto;
}

@media only screen and (min-width: 320px) {
  .container {
    min-width: 320px;
  }
}

@media only screen and (min-width: 320px) {
  .container {
    min-width: 320px;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    min-width: 768px;
    padding: 0 50px;
  }
}

@media only screen and (min-width: 1024px) {
  .container {
    min-width: 1024px;
    padding: 0 15px;
  }
}

.section {
  padding: 50px 0 50px 0;
}

/*Media rule up to 319*/
@media screen and (max-width: 319px) {
  .heading-one {
    font-family: "Poppins", sans-serif, Arial, Helvetica, sans-serif;
    font-size: 56px;
    font-weight: 900;
  }
  .heading-two {
    font-family: "Poppins", sans-serif, Arial, Helvetica, sans-serif;
    font-size: 36px;
    font-weight: 900;
  }
  .subtitle {
    font-family: "Poppins", sans-serif, Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: 700;
    line-height: 1.5;
  }
  .subtitle--big {
    font-size: 20px;
  }
  .paragraph {
    font-family: "Poppins", sans-serif, Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin-bottom: 10px;
    line-height: 1.7;
  }
  .paragraph--bold {
    font-weight: 700;
  }
}

/*Media rule from 320*/
@media screen and (min-width: 320px) {
  .heading-one {
    font-family: "Poppins", sans-serif, Arial, Helvetica, sans-serif;
    font-size: 56px;
    font-weight: 900;
  }
}

@media only screen and (min-width: 320px) and (min-width: 1024px) {
  .heading-one {
    font-size: 60px;
  }
}

@media screen and (min-width: 320px) {
  .heading-two {
    font-family: "Poppins", sans-serif, Arial, Helvetica, sans-serif;
    font-size: 36px;
    font-weight: 900;
  }
}

@media only screen and (min-width: 320px) and (min-width: 1024px) {
  .heading-two {
    font-size: 42px;
  }
}

@media screen and (min-width: 320px) {
  .subtitle {
    font-family: "Poppins", sans-serif, Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: 700;
    line-height: 1.5;
  }
  .paragraph {
    font-family: "Poppins", sans-serif, Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin-bottom: 10px;
    line-height: 1.7;
  }
  .paragraph--bold {
    font-weight: 700;
  }
}

/*Layout*/
/*Mobile menu*/
.menu-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--primary-background-color);
  width: 100vw;
  height: 100vh;
}

.menu-container-small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu-container-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  padding: 40px;
  background-color: #FFFFFF;
  padding-top: 80px;
}

.mobile-modal {
  position: absolute;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 48px 40px;
  background-color: #fff;
  overflow-y: scroll;
}

@media only screen and (min-width: 768px) {
  .mobile-modal {
    display: none;
  }
}

.mobile-menu {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.mobile-menu-icon {
  z-index: 1;
  position: absolute;
  right: 15px;
  top: 16px;
}

.mobile-menu-icon:hover {
  fill: #2196f3;
}

.mobile-menu-open {
  display: none;
}

.mobile-menu.is-open .mobile-menu-close {
  display: none;
}

.mobile-menu.is-open .mobile-menu-open {
  display: block;
}

@media only screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.no-scroll {
  overflow: hidden;
}

.mobile-container.is-open {
  display: block;
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

.mobile-container {
  display: none;
}

.mobile-container.is-open {
  display: block;
}

.mobile-item {
  margin-bottom: 32px;
}

.mobile-item:last-child {
  margin-bottom: 0;
}

.mobile-link {
  font-family: 'Poppins', sans-serif, Arial, Helvetica, sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 47px;
  text-transform: uppercase;
  color: #212121;
}

.mobile-link-active {
  color: #2196f3;
}

.mobile-link:hover {
  color: #2196f3;
}

.mobile-list {
  margin-top: 55px;
}

/*Header*/
.header {
  -webkit-box-shadow: 0px 3px 6px #00000029;
          box-shadow: 0px 3px 6px #00000029;
  position: relative;
  z-index: 1;
}

.header__container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 10px;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (min-width: 768px) {
  .header__container {
    padding: 10px 50px;
  }
}

@media only screen and (min-width: 1024px) {
  .header__container {
    padding: 15px 15px;
  }
}

.header__button {
  margin-left: auto;
}

.header__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  display: inline-block;
}

.header__logo--image {
  position: relative;
  z-index: 2;
  height: 50px;
}

.header__menu {
  display: none;
  font-family: 'Poppins', sans-serif, Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 700;
  /*Animation*/
}

@media only screen and (min-width: 1024px) {
  .header__menu--link {
    font-size: 12px;
  }
}

.header__menu .header__menu--link {
  color: #2A2A2A;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__menu .header__menu--link:hover, .header__menu .header__menu--link:focus {
  color: #008BF6;
}

@media only screen and (min-width: 768px) {
  .header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 30px;
    margin-left: 30px;
    text-transform: uppercase;
  }
}

@media only screen and (min-width: 1024px) {
  .header__menu {
    margin-left: 50px;
    gap: 40px;
  }
}

.footer {
  background-color: #F5F5F5;
  text-align: center;
  margin: 0 auto;
}

.footer__wrap {
  padding: 15px 15px;
}

@media only screen and (min-width: 768px) {
  .footer__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 15px 50px;
  }
}

@media only screen and (min-width: 1024px) {
  .footer__wrap {
    padding: 15px 15px;
  }
}

.footer__address {
  margin-top: 20px;
  font-family: "Poppins", sans-serif, Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 1.5;
}

@media only screen and (min-width: 768px) {
  .footer__address {
    margin-left: auto;
    text-align: right;
    margin-top: 0;
  }
}

.footer__address--bold {
  font-weight: 700;
}

/*Components*/
.button {
  background-color: #00B3FA;
  font-family: "Poppins", sans-serif, Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 18px;
  cursor: pointer;
  color: #2A2A2A;
  padding: 15px 35px;
  border: none;
  border-radius: 5px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (min-width: 768px) {
  .button {
    font-size: 14px;
    padding: 9px 25px;
  }
}

@media only screen and (min-width: 1024px) {
  .button {
    font-size: 12px;
    padding: 6px 18px;
  }
}

.button--hidden {
  display: none;
}

@media only screen and (min-width: 320px) {
  .button--hidden {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .button--hidden {
    display: block;
  }
}

.button--yellow {
  background-color: #F6E224;
}

.button:hover, .button:focus {
  background-color: #008BF6;
  color: #FFFFFF;
}

.button--yellow:hover, .button--yellow:focus {
  background-color: orange;
  color: #2A2A2A;
}

/*Main styles*/
.hero {
  text-align: center;
  background-image: url(../images/background-blue.jpeg);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__content {
  margin-bottom: 50px;
}

@media only screen and (min-width: 768px) {
  .hero__content {
    text-align: left;
  }
}

@media only screen and (min-width: 1024px) {
  .hero__content {
    margin-top: 50px;
    margin-bottom: 80px;
  }
}

.hero__title {
  margin-bottom: 20px;
}

.hero__text {
  margin-bottom: 20px;
}

@media only screen and (min-width: 1024px) {
  .hero__container {
    position: relative;
  }
}

@media only screen and (min-width: 768px) {
  .hero {
    margin: 0 auto;
  }
  .hero__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
  }
  .hero__image {
    margin: 0 auto;
    margin-top: 50px;
    width: 300px;
  }
}

@media only screen and (min-width: 768px) and (min-width: 768px) {
  .hero__image {
    margin-top: 0;
  }
}

@media only screen and (min-width: 768px) and (min-width: 1024px) {
  .hero__image {
    width: 400px;
    position: absolute;
    top: 0;
    left: 600px;
  }
}

/*Animation*/
.hero__image {
  -webkit-animation: flying 2s ease-in-out infinite alternate;
          animation: flying 2s ease-in-out infinite alternate;
}

@-webkit-keyframes flying {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
}

@keyframes flying {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 319px), screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 319px), screen and (min-resolution: 192dpi) and (max-width: 319px), screen and (min-resolution: 2dppx) and (max-width: 319px) {
  .hero {
    background-image: url(../images/background-blue@2x.jpeg);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 320px), screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 320px), screen and (min-resolution: 192dpi) and (min-width: 320px), screen and (min-resolution: 2dppx) and (min-width: 320px) {
  .hero {
    background-image: url(../images/background-blue@2x.jpeg);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: url(../images/background-blue@2x.jpeg);
  }
}

.ingridients {
  text-align: center;
  /*Swiper*/
}

@media only screen and (min-width: 1024px) {
  .ingridients {
    margin-top: 120px;
  }
}

.ingridients__title {
  margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {
  .ingridients__subtitle {
    width: 500px;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 768px) {
  .ingridients__paragraph {
    width: 470px;
    margin: 0 auto;
  }
}

.ingridients__image {
  width: 150px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 10px;
}

.ingridients__text {
  font-family: "Poppins", sans-serif, Arial, Helvetica, sans-serif;
  font-weight: 700;
  line-height: 1.5;
  font-size: 14px;
}

.ingridients .swiper {
  width: 100%;
  height: 300px;
}

.ingridients .swiper-component {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 230px;
  width: 200px;
  -webkit-box-shadow: 0px 3px 6px #00000029;
          box-shadow: 0px 3px 6px #00000029;
  border-radius: 26px;
  padding: 20px;
  margin: 0 auto;
}

.ingridients .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ingridients .swiper-slide img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

@media only screen and (min-width: 1024px) {
  .ingridients .swiper-slide img {
    width: 120px;
  }
}

.story {
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .story__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: left;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    gap: 30px;
  }
}

@media only screen and (min-width: 1024px) {
  .story__content {
    gap: 50px;
  }
}

.story__image {
  margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {
  .story__image {
    width: 50%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.story__subtitle {
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .story__subtitle {
    text-align: left;
  }
}

@media only screen and (min-width: 768px) {
  .story__composition {
    width: 350px;
  }
}

.story__title {
  margin-top: 20px;
  margin-bottom: 10px;
}

.story__text {
  text-align: left;
}

/*dropdown*/
.dropdown__menu {
  display: none;
}

.dropdown__menu--visible {
  z-index: 5;
  position: absolute;
  display: block;
  top: 90%;
  text-align: left;
  background-color: #FFFFFF;
  width: 100%;
  padding: 20px;
  -webkit-box-shadow: 0px 5px 6px #00000029;
          box-shadow: 0px 5px 6px #00000029;
  border-bottom-left-radius: 26px;
  border-bottom-right-radius: 26px;
  padding-bottom: 60px;
}

.dropdown__button {
  z-index: 7;
  position: absolute;
  top: 210;
  right: 20px;
  margin-left: auto;
  background-color: transparent;
  border: none;
  font-family: "Poppins", sans-serif, Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #008BF6;
  margin-left: auto;
}

.dropdown__items {
  font-size: 14px;
  line-height: 2;
}

.dropdown__items:first-child {
  font-weight: 700;
}

/*Media rule to 319px*/
.burgers {
  text-align: center;
}

.burgers__title {
  margin-bottom: 20px;
}

.burgers__list {
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  .burgers__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
  }
}

@media only screen and (min-width: 1024px) {
  .burgers__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.burgers__element {
  position: relative;
  padding-top: 20px;
}

.burgers__component {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  -webkit-box-shadow: 0px 3px 6px #00000029;
          box-shadow: 0px 3px 6px #00000029;
  border-radius: 26px;
  padding-bottom: 30px;
  margin: 0 auto;
  margin-bottom: 30px;
  -webkit-transition: margin-bottom 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: margin-bottom 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), margin-bottom 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), margin-bottom 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (min-width: 1024px) {
  .burgers__component {
    margin: 0;
    margin-bottom: 30px;
    width: 100%;
  }
}

.burgers__component--container {
  padding: 20px;
}

.burgers__image {
  width: 150px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 30px;
}

@media only screen and (min-width: 768px) {
  .burgers__image {
    width: 120px;
  }
}

@media only screen and (min-width: 1024px) {
  .burgers__image {
    width: 140px;
  }
}

.burgers__text {
  font-family: "Poppins", sans-serif, Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 30px;
  line-height: 1.5;
}

.burgers__link {
  text-align: right;
  background-color: transparent;
  border: none;
  font-family: "Poppins", sans-serif, Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #008BF6;
}

.burgers__component:hover,
.burgers__component:focus {
  margin-bottom: 20px;
  -webkit-box-shadow: 0px 10px 6px #0000003c;
          box-shadow: 0px 10px 6px #0000003c;
}

.paragraph__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 10px;
          column-gap: 10px;
}

@media only screen and (min-width: 1024px) {
  .paragraph__wrap {
    gap: 20px;
  }
}

.location {
  text-align: center;
}

.location__title {
  margin-bottom: 10px;
}

@media only screen and (min-width: 1024px) {
  .location__title {
    margin-bottom: 20px;
  }
}

.location__wrap {
  position: relative;
}

.location__map {
  border-radius: 30px;
  position: relative;
}

@media only screen and (min-width: 768px) {
  .location__map {
    width: 61%;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 1024px) {
  .location__map {
    width: 45%;
  }
}

.location__pin {
  position: absolute;
  top: 45px;
  left: 95px;
  background-color: #FFFFFF;
  padding: 10px;
  border-radius: 50%;
  width: 50px;
}

@media only screen and (min-width: 768px) {
  .location__pin {
    top: 50px;
    left: 275px;
  }
}

@media only screen and (min-width: 1024px) {
  .location__pin {
    top: 105px;
    left: 440px;
    width: 34px;
    padding: 5px;
  }
}
/*# sourceMappingURL=main.css.map */