/*Mobile menu*/

.menu-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--primary-background-color);
  width: 100vw;
  height: 100vh;
}

.menu-container-small {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-container-flex {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 40px;
  background-color: $BgColorPrimary;
  padding-top: 80px;
}

.mobile-modal {
  position: absolute;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 48px 40px;
  background-color: #fff;
  overflow-y: scroll;

@include tablet {
    display: none;
  }
}

.mobile-menu {
  display: inline-flex;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;

  &-icon {
    z-index: 1;
    position: absolute;
    right: 15px;
    top: 16px;

    &:hover {
      fill: #2196f3;
    }
  }

  &-open {
    display: none;
  }

  &.is-open .mobile-menu-close {
    display: none;
  }

  &.is-open .mobile-menu-open {
    display: block;
  }

 @include tablet {
    display: none;
  }

}

// .no-scroll{
//   overflow: hidden;
// }
// .mobile-container.is-open {
//   display: block;
//   opacity: 1;
//   pointer-events: auto;
//   visibility: visible;
// }
.mobile-container {
  display: none;

  &.is-open {
    display: block;
  }
}

.mobile-item {
  margin-bottom: 32px;

  &:last-child {
    margin-bottom: 0;
  }
}

.mobile-link {
  font-family: 'Poppins', sans-serif, Arial, Helvetica, sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 47px;
  text-transform: uppercase;
  color: #212121;

  &-active {
    color: #2196f3;
  }

  &:hover {
    color: #2196f3;
  }
}
.mobile-list{
      margin-top: 55px;
}


/*Header*/

.header {
  box-shadow: 0px 3px 6px #00000029;
  position: relative;
  z-index: 1;
 
  
  &__container {
    align-items: center;
    padding: 10px 10px;
    margin: 0 auto;
    justify-content: space-between;
    

    @include tablet{
      padding: 10px 50px;
    }

    @include desktop{
      padding: 15px 15px;
    }
  }

  &__button {
    margin-left: auto;
  }

  &__navigation {
    display: flex;
    align-items: center;
  }

  &__logo {
    display: inline-block;

    &--image {
      position: relative;
      z-index: 2;
      height: 50px;
      
    }
  }

  &__menu {
    display: none;
    font-family: 'Poppins', sans-serif, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 700;
    
    &--link{
      @include desktop{
        font-size: 12px;
      }
    }

/*Animation*/
.header__menu--link{
color: $fontPrimary;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__menu--link:hover, .header__menu--link:focus{
color: $buttonLink;
}


  

    @include tablet {
      display: flex;
      align-items: center;
      gap: 30px;
      margin-left: 30px;
      text-transform: uppercase;
    }

    @include desktop{
      margin-left: 50px;
      gap: 40px;
    }
  }
}
