/*dropdown*/
.dropdown {
  &__menu {
    display: none;
  }

  &__menu--visible {
    z-index: 5;
    position: absolute;
    display: block;
    top: 90%;
    text-align: left;
    background-color: $BgColorPrimary;
    width: 100%;
    padding: 20px;
    box-shadow: 0px 5px 6px #00000029;
    border-bottom-left-radius: 26px;
    border-bottom-right-radius: 26px;
    padding-bottom: 60px;
  }

  &__button {
    z-index: 7;
    position: absolute;
    top: 210;
    right: 20px;
    margin-left: auto;
    background-color: transparent;
    border: none;
    font-family: "Poppins", sans-serif, Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: $buttonLink;
    margin-left: auto;
  }

  &__items {
    font-size: 14px;
    line-height: 2;
  }

  &__items:first-child {
    font-weight: 700;
  }
}

/*Media rule to 319px*/

.burgers {
  text-align: center;

  &__title {
    margin-bottom: 20px;
  }

  &__list {
    margin: 0 auto;

    @include tablet {
      display: flex;
      gap: 30px;
    }

    @include desktop {
      display: flex;
      justify-content: center;
    }
  }

  &__element {
    position: relative;
    padding-top: 20px;
  }

  &__component {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 26px;
    padding-bottom: 30px;
    margin: 0 auto;
    margin-bottom: 30px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
      margin-bottom 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @include desktop {
      margin: 0;
      margin-bottom: 30px;
      width: 100%;
    }

    &--container {
      padding: 20px;
    }
  }

  &__image {
    width: 150px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 30px;

    @include tablet {
      width: 120px;
    }

    @include desktop {
      width: 140px;
    }
  }

  &__text {
    font-family: "Poppins", sans-serif, Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 30px;
    line-height: 1.5;
  }

  &__link {
    text-align: right;
    background-color: transparent;
    border: none;
    font-family: "Poppins", sans-serif, Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: $buttonLink;
  }
}

.burgers__component:hover,
.burgers__component:focus {
  margin-bottom: 20px;
  box-shadow: 0px 10px 6px #0000003c;
}
