.button {
  background-color: $buttonPrimary;
  font-family: "Poppins", sans-serif, Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 18px;

  color: $fontPrimary;
  padding: 15px 35px;
 
  border: none;
  border-radius: 5px;

  @include tablet{
    font-size: 14px;
    padding: 9px 25px;
  }

  @include desktop{
    font-size: 12px;
    padding: 6px 18px;
  }

  &--hidden {
    display: none;
    @include mobile {
      display: none;
    }

    @include tablet {
      display: block;
    }
  }

  &--yellow {
    background-color: $buttonAccent;
  }
}
