/*Main styles*/
.hero {
  text-align: center;
  background-image: url(../images/background-blue.jpeg);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;

  &__content {
    margin-bottom: 50px;

    @include tablet {
      text-align: left;
    }

    @include desktop {
      margin-top: 50px;
      margin-bottom: 80px;
    }
  }

  &__title {
    margin-bottom: 20px;
  }

  &__text {
    margin-bottom: 20px;
  }

  &__container {
    @include desktop {
      position: relative;
    }
  }

  @include tablet {
    margin: 0 auto;
    &__container {
      display: flex;
      align-items: center;
      margin: 0 auto;
    }

    &__image {
      margin: 0 auto;
      margin-top: 50px;
      width: 300px;

      @include tablet {
        margin-top: 0;
      }

      @include desktop {
        width: 400px;
        position: absolute;
        top: 0;
        left: 600px;
      }
    }
  }
}

/*Animation*/
.hero__image {
  animation: flying 2s ease-in-out infinite alternate;
}

@keyframes flying {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-30px);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 319px),
screen and (min-resolution: 192dpi) and (max-width: 319px),
screen and (min-resolution: 2dppx) and (max-width: 319px) {
  .hero {
    background-image: url(../images/background-blue@2x.jpeg);
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: $mobile),
screen and (min-resolution: 192dpi) and (min-width: $mobile),
screen and (min-resolution: 2dppx) and (min-width: $mobile) {
  .hero {
    background-image: url(../images/background-blue@2x.jpeg);
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: $tablet),
screen and (min-resolution: 192dpi) and (min-width: $tablet),
screen and (min-resolution: 2dppx) and (min-width: $tablet) {
  .hero {
    background-image: url(../images/background-blue@2x.jpeg);
  }
}

