.location {
  text-align: center;

  &__title {
    margin-bottom: 10px;

    @include desktop {
      margin-bottom: 20px;
    }
  }

  &__wrap{
    position: relative;
  }

  &__map {
    
    border-radius: 30px;
    position: relative;

    @include tablet {
      width: 50%;
      margin: 0 auto;
    }
  }

  &__pin{
      position: absolute;
      top: 45px;
      left: 95px;
      background-color: $BgColorPrimary;
      padding: 10px;
      border-radius: 50%;
      width: 50px;

        @include tablet {
          top: 50px;
          left: 275px;
        }

        @include desktop {
          top: 105px;
          left: 440px;
          width: 34px;
          padding: 5px;
        }
  }
}
