.story {
  text-align: center;
  &__content {
    @include tablet {
      display: flex;
      align-items: center;
      text-align: left;
      order: 1;
      gap: 30px;
    }

    @include desktop{
      gap: 50px;
    }
  }

  &__image {
    border-radius: 30px;
    margin-bottom: 20px;
    @include mobile {
      border-radius: 30px;
      margin-bottom: 20px;
    }

    @include tablet {
      width: 50%;
      order: 2;
    }
  }

  &__subtitle {
    text-align: center;
    @include tablet {
      text-align: left;
    }
  }

  &__composition{
    @include tablet{
      width: 350px;
    }
  }
  &__title {
    margin-bottom: 10px;
  }

  &__text {
    text-align: left;
  }
}
